.btn .sapMBtnInner{
    background-color: darkgreen !important;
    border-color: darkgreen !important;
    background-image: none !important;
    text-shadow: none !important;
    color: whitesmoke !important;;
}

.GoFilterBar .sapMBtnInner {
    background-color: darkgreen !important;
    border-color: darkgreen !important;
    background-image: none !important;
    text-shadow: none !important;
    color: whitesmoke !important;;
}

.sapFDynamicPageTitle{
    padding: 0 !important;
    min-height: 2.8rem !important;
    box-shadow: none !important;
    border-bottom: 1px solid gray !important;
    width: 100% !important;
    justify-content: flex-start;
}

.pageTitle{
    justify-content: start;
    width: 100%;
    padding-left: 1.9rem;
    gap: 20px  !important;
}

.textLikeButton .sapMBtnInner  {
    color: green !important; 
    border-color: none !important;
    padding: 0 !important;
    border: none !important;
    background-color: whitesmoke !important;
}



/* icon tab header styles */
.sapMITBFilterDefault .sapMITBFilterWrapper:hover .sapMITBText {
    color: green;
}
.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected .sapMITBText {
    color: green;
}
.sapMITH .sapMITBSelected .sapMITBContentArrow::after {
    background: green;
}


.textArea{
    width: 80%;
}
.inputs{
    width: 100%;
}

.trancheTable{
    border-radius: 20px;
    box-shadow: 0px 1px 15px 7px rgba(0, 0, 0, 0.1);
}
.tranchItems{
    max-width: 55%;
}
.formRows{
    gap: 20px;
    width: 50%;
}
.interactionIcons{
    gap: 10px;
}
.icon{
    color: rgb(6, 161, 146);
}
.tablePanel, .form{
    padding: 0.3rem;
}

@media (max-width: 1024px) {
    .tranchItems{
        padding-left: 20px;
        max-width: 30%;
       }
       .firstRow{
        gap: 0px;
    }
    
}

@media (max-width: 1600px) {
    .tranchItems{
        padding-left: 20px;
        max-width: 30%;
       }
       .sapMSltWithArrow > .sapMSltLabel, .sapMSltWithArrow .sapMSelectListItemBase {
        padding: 0 7rem 0 0.625rem;
    }
     .textArea{
        width: 105%;
    }
}
@media (min-width: 1650px) {
    .tranchItems{
        padding-left: 20px;
        max-width: 50%;
       }
    .firstRow{
        gap: 150px;
    }
    .formRows{
        gap: 40px;
        width: 100%;
    }
    .textArea{
        width: 62%;
    }
    .textInput{
        width: 100% !important;
        margin-right: 30px;
    }
    .sapMSltWithArrow > .sapMSltLabel, .sapMSltWithArrow .sapMSelectListItemBase {
        padding: 0 7rem 0 0.625rem;
    }
}

@media screen and (max-width: 480px) {
    .formRows{
        flex-direction: column;
    }
    .tranchItems{
        max-width: 100%;
    }
}

